#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.App{
  max-width: 600px;
  max-height: 1080px;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: #242424;
}

.hidden{
  visibility: hidden;
}

.form{
  width: 250px;
  margin: 0 auto;
}
